table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

td {
  border: 1px solid #000;
  padding: 10px;
}

td.label {
  width: 30%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
}

li {
  padding: 5px;
  border-radius: 2px;
  margin:0 0 2px 2px;
}

.estados_sem_processos  li { background-color: green; }
.estados_com_processos  li { background-color: red; }
.estados_indeterminados li { background-color: orange; }

td.emitido_em, td.fonte, td.protocolo, td.arquivo, td.nada_consta {
  width: 20%;
}

table.certidoes tr:first-child,
table.processos td:first-child {
  background-color: #efefef;
}
